.our-menu {
	width: 100%;
	text-align: center;
}

.our-menu h3 {
	font-size: 1.8rem;
	font-family: var(--font-special);
}

.our-menu-title {
	text-align: center;
}

.our-menu-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 2rem;
	gap: 1rem;
}

.our-menu-image {
	width: 11rem;
}

.our-menu-wines,
.our-menu-cocktails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
	color: var(--color-white);
	margin: 1.5rem 0;
}

@media screen and (max-width: 1000px) {
	.our-menu-content {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.our-menu-image {
		width: 12rem;
	}

	.our-menu-wines,
	.our-menu-cocktails {
		width: 70%;
	}
}

@media screen and (max-width: 1000px) {
	.our-menu-content {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.our-menu-image {
		width: 12rem;
	}

	.our-menu-wines,
	.our-menu-cocktails {
		width: 80%;
	}
}

@media screen and (max-width: 550px) {
	.our-menu-wines,
	.our-menu-cocktails {
		width: 100%;
	}
}
