.main-button {
	background: var(--color-golden);
	font-family: var(--font-special);
	font-size: 1rem;
	font-weight: 600;
	color: var(--color-black);
	padding: 0.4rem 1rem;
	margin: 0;
	border: none;
	cursor: pointer;
}

.main-button:hover {
	background: var(--color-vainilla);
}
