.chef {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
	width: 100%;
}

.chef-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chef-image img {
	width: 100%;
}

.chef-info {
	text-align: left;
}

.chef-info-name {
	color: var(--color-golden);
	font-family: var(--font-special);
	font-size: 1.6rem;
	margin-bottom: 0.4rem;
}

.chef-info-proffetion {
	color: var(--color-golden);
	font-size: 0.8rem;
}

.chef-info-sign img {
	padding-top: 2rem;
	width: 8rem;
}

@media screen and (max-width: 800px) {
	.chef {
		flex-direction: column;
	}

	.chef-image img {
		width: 100%;
	}
}
