@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Lobster&family=Roboto&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background: var(--color-bg);
}

a {
	color: unset;
	text-decoration: none;
}

:root {
	font-size: 20px;

	font-family: "Roboto", "Helvetica Neue";

	--font-special: "Cormorant";

	--color-golden: rgb(207, 207, 122);
	--color-black: rgb(0, 0, 0);
	--color-grey: #464545;
	--color-vainilla: rgb(227, 227, 215);
	--color-white: rgb(255, 255, 255);
	--color-transparent: rgb(0, 0, 0, 0.8);
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
	0% {
		transform: translateY(-0.25%);
	}
	100% {
		transform: translateY(0);
	}
}

.section__padding {
	padding: 5rem 10rem;
}

.app__bg {
	background: url();
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

@media screen and (max-width: 1600px) {
	.section__padding {
		padding: 5rem 7rem;
	}
}

@media screen and (max-width: 1200px) {
	:root {
		font-size: 19px;
	}

	.section__padding {
		padding: 4rem 6rem;
	}
}

@media screen and (max-width: 1000px) {
	:root {
		font-size: 18px;
	}

	.section__padding {
		padding: 4rem 5rem;
	}
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 16px;
	}

	.section__padding {
		padding: 4rem;
	}
}

@media screen and (max-width: 550px) {
	.section__padding {
		padding: 4rem 3rem;
	}
}

@media screen and (max-width: 360px) {
	.section__padding {
		padding: 3.5rem 2rem;
	}
}
